<div class="login-container">
  <div class="text-center header">
    <h1>Zaloguj się</h1>
  </div>
  <form (ngSubmit)="log()">

    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" class="form-control" name="login" id="login" placeholder="Wpisz login" [(ngModel)]="login">
    </div>

    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Wpisz hasło" [(ngModel)]="password">
    </div>
    <p class="warning" *ngIf="errorMsg">{{errorMsg}}</p>
    <button class="btn btn-info" type="submit">Zaloguj</button>
  </form>
</div>
