<div [ngClass] = "userLogged ? 'pages-background' : 'start-background'">
<nav class="navbar">
  <a class="navbar-brand" href="#">Driving School</a>
  <ul *ngIf="userLogged" class="nav">
    <li class="nav-item">
      <a routerLink="/pages/" class="nav-link active">Rezerwacja</a>
    </li>
    <li class="nav-item">
      <a routerLink="/pages/instructors" class="nav-link">Instruktorzy</a>
    </li>
    <li class="nav-item">
      <a routerLink="/pages/drivebooks/historical" class="nav-link">Historia</a>
    </li>
    <li class="nav-item">
      <a routerLink="/pages/settings" class="nav-link">Ustawienia</a>
    </li>
  </ul>
</nav>
    <router-outlet></router-outlet>
</div>
<footer *ngIf="userLogged">
  <div class="footer-menu">
    <ul class="menu-list">
      <li class="menu-item"><a routerLink="/pages/" class="nav-link active">Rezerwacja</a></li>
      <li class="menu-item"><a routerLink="/pages/instructors" class="nav-link">Instruktorzy</a></li>
      <li class="menu-item"><a routerLink="/pages/drivebooks/historical" class="nav-link">Historia</a></li>
      <li class="menu-item"><a routerLink="/pages/settings" class="nav-link">Ustawienia</a></li>
    </ul>
  </div>
  <p>Copyright &copy; 2018 Driving School</p>
</footer>


