<div [ngClass] = "userLogged ? 'pages-background' : 'start-background'">
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Driving School</a>
  <ul *ngIf="userLogged" class="nav">
    <li class="nav-item">
      <a routerLink="/pages/home" class="nav-link active">Rezerwacja</a>
    </li>
    <li class="nav-item">
      <a routerLink="/pages" class="nav-link">Instruktorzy</a>
    </li>
    <li class="nav-item">
      <a routerLink="/" class="nav-link">Historia</a>
    </li>
    <li class="nav-item">
      <a routerLink="/" class="nav-link">Ustawienia</a>
    </li>
  </ul>
</nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


