$navbar-height: 55px;

//.background {
//  background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url(../assets/images/background.jpg) no-repeat center center fixed;
//  height: calc(100vh - #{$navbar-height});
//  background-size: cover;
//}

.navbar {
  height: $navbar-height;
  background-color: transparent;
  -webkit-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.5);
  a {
    color: #000;

    &:hover {
      color: #4e4e4e;
    }
  }
  .nav {
    font-weight: 700;
    font-size: 0.8rem;
  }
}

.start-background {
  background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url(../assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
}

.pages-background {
  background-color: #ffffff;
  min-height: calc(100vh - 90px);
}

footer {
  margin-top: 40px;
  background-color: #ffffff;
  border-top: 1px solid #d9d9d9;
  padding: 10px 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer-menu {
    .menu-list {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;

      .menu-item {
        text-decoration: none;
        font-size: 0.8rem;

        &:first-child {
          a {
            padding-left: 0;
          }
        }
        a {
          padding: 15px 10px;
          color: #000;
          &:hover {
            color: #4e4e4e;
          }
        }
      }
    }
  }

  p {
    margin: 0;
    font-size: 0.8rem;
  }
}

