<h1>Nadchodzące jazdy:</h1>

<div *ngIf="drives" class="drives">
  <div *ngFor="let drive of drives" class="drive">
    <p class="date">{{drive.day}}</p>
    <p class="user-name">{{capitalizeFirstLetters(drive.user.firstname, drive.user.lastname)}}</p>
    <p class="instructor-name">{{capitalizeFirstLetters(drive.instructor.firstname, drive.instructor.lastname)}}</p>
    <p class="date"></p>
    <button class="btn btn-info">Zobacz jazdę</button>
  </div>
</div>

<a routerLink="../../drivebooks">klik</a>

<div *ngIf="drives">
  <h2>Nie masz obecnie żadnych rezerwacji</h2>
  <p><a href="">Zarezerwuj jazdy</a></p>
</div>

