* {
  padding: 0;
  margin: 0;
}

.drive {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-right: 15px;

  .icon {
    background-color: #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 6px 40px;
  }
  p, a {
    padding: 3px 40px;
    font-size: 0.8rem;
    color: #000;
  }
  a {
    text-decoration: none;
    font-weight: 700;
  }
  .info {
    margin: 4px 0;
  }
  a:hover {
    color: #17a2b8;
  }
  .button {
    width: 100%;
    text-decoration: none;
    border-top: 1px solid #d9d9d9;
    padding: 6px 20px;
  }

  .bold {
    font-weight: 700;
  }

  .user-name, .instructor-name {
    font-weight: 700;
  }
}
