<div class="drive">
  <p class="icon"><i class="fa fa-car" aria-hidden="true"></i></p>
  <p class="info"><span class="bold">Dzień:</span> {{drive.day}}</p>
  <p class="info"><span class="bold">Godzina:</span> {{convertTimeToHoursAndMinutes(drive.hoursInterval.startTime)}} - {{convertTimeToHoursAndMinutes(drive.hoursInterval.endTime)}}</p>
  <p class="info"><span class="bold">Instruktor:</span> {{capitalizeFirstLetters(drive.instructor.firstname, drive.instructor.lastname)}}</p>
  <p class="button"><a (click)="goToDetails(drive.id)">Zobacz jazdę</a></p>
</div>
