<div class="container">
  <div class="background">
    <div *ngIf="drive" class="book-info">
      <div class="header">
        <h1>Jazda dnia {{drive.day}}</h1>
        <h2>{{drive.hoursInterval.startTime}} - {{drive.hoursInterval.endTime}}</h2>
      </div>
      <div class="body">
        <div class="body-item">
          <h2>Instruktor</h2>
          <p><span class="bolder">Imię:</span> {{drive.instructor.firstname}}</p>
          <p><span class="bolder">Nazwisko:</span> {{drive.instructor.lastname}}</p>
          <p><span class="bolder">Telefon:</span> {{drive.instructor.phone}}</p>
          <p><span class="bolder">Email:</span> {{drive.instructor.email}}</p>

          <div class="buttons">
            <button *ngIf="type === 'historical'" class="btn btn-info btn-customized" (click)="goToRateInstructor(drive.instructor.id)">Oceń instruktora</button>
            <button *ngIf="type === 'incoming'" class="btn btn-edit btn-customized" (click)="goToEdit(drive.id)">Edytuj</button>
            <button *ngIf="type === 'incoming'" class="btn btn-cancel btn-customized" (click)="openModal(template)">Odwołaj</button>
          </div>
        </div>

        <ng-template #template>
          <div class="modal-body text-center">
            <p>Jesteś pewien, że chcesz odwołać jazdę??</p>
            <button type="button" class="btn btn-edit btn-customized" (click)="confirm()" >Tak</button>
            <button type="button" class="btn btn-cancel btn-customized" (click)="decline()" >Nie</button>
          </div>
        </ng-template>

        <div class="body-item">
          <h2>Samochód</h2>
          <p><span class="bolder">Marka:</span> {{drive.car.brand}}</p>
          <p><span class="bolder">Model:</span> {{drive.car.model}}</p>
          <p><span class="bolder">Rok:</span> {{drive.car.year}}</p>
          <p><span class="bolder">Silnik:</span> {{drive.car.engineCapacity}} {{drive.car.fuelType}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
